.page_awards_head {
  display: grid;
  margin-bottom: 90px;
  grid-column: 1/-1;
  grid-template-columns: 11fr 9fr;
}
.awards_list {
  display: grid;
  grid-gap: 0 calc(var(--gutter) * 4 + 1 / var(--columns) * 100%);
  padding: 0 var(--gutter);
  position: relative;
  grid-column: 2/3;
}
.awards_list_item {
  display: flex;
  flex-direction: column;
}
.awards_list_item-title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 4px 0 2px;
  border-top: 1px solid var(--color-brown);
  margin-bottom: -1px;
}
.awards_list_item-subtitle {
  padding: 4px 0 2px;
  border-top: 1px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
  margin-bottom: -1px;
}
.awards_list_item-description {
  padding-top: 15px;
  padding-bottom: 40px;
  flex-grow: 1;
  white-space: pre-line;
}
.awards_list_item-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  a {
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}
.awards_list_item-links_more {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 4px 0 2px;
  border-top: 1px solid var(--color-brown);
  margin-bottom: -1px;
  padding-bottom: 10px;
}
.awards_list_item-links_mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
@media screen and (min-width: 820px) {
  .page_awards {
    display: grid;
    grid-template-columns: 1fr 19fr;
  }
  .awards_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 820px) {
  .page_awards_head {
    margin-bottom: 30px;
    &::before {
      display: none;
    }
  }
  .awards_list_item-description {
    padding-bottom: 15px;
  }
  .awards_list_item-links_mail {
    border-bottom: 1px solid var(--color-brown);
  }
}
